/* Prevent scrollbars in the Home component */
.home-container {
    overflow: hidden; /* Prevent scrollbars */
    height: 100vh; /* Make sure the component takes full height of the viewport */
    width: 100%;
  }
  
  /* Cosmic Background */
  .cosmic-bg {
    background: url('http://img.freepik.com/free-photo/space-background-realistic-starry-night-cosmos-shining-stars-milky-way-stardust-color-galaxy_1258-154750.jpg?t=st=1737213349~exp=1737216949~hmac=dfb25d87fa80a3472286d860420f2d5163c44609a8500e8dec1d662b87cac97e&w=1060') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.9; /* Opacity set to 70% */
    animation: cosmicAnimation 30s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Animation to create a subtle zoom effect */
  @keyframes cosmicAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  